.box{
    position: absolute;
    background: #191622;
    width: 35%;
    height: 550px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 40px;
}

.box form{
    display: flex;
    grid-row: 1px;
}